.wrapper {
  background-image: url('../assets/images/bg4.jpg');
  // background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.fa-rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
